llama-index
llama-index-llms-groq
llama-index-llms-openai
llama-index-llms-octoai
llama-index-llms-fireworks

llama_index.vector_stores.milvus
llama-index-embeddings-octoai



uvicorn
litestar
advanced_alchemy
haystack

tokenizers


aiohttp[speedups]
nest-asyncio
asyncstdlib

redis
